<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <h1 class="mb-4">Weather Forecast</h1>
    </div>

    <div>
        <h2>Warm Days (Temp > 25°C)</h2>
        <div th:each="city : ${warmDays}">
            <h4 th:text="${city.cityName}"></h4>

            <div th:if="${city.forecasts != null and !#lists.isEmpty(city.forecasts)}">
                <table class="table table-bordered">
                    <thead class="table-light">
                    <tr>
                        <th class="table-warning">Date</th>
                        <th class="table-warning">Weather</th>
                        <th class="table-warning">Maximum Temperature</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="forecast : ${city.forecasts}">
                        <td class="col-sm-3 col-lg-4"
                            th:text="${#temporals.format(forecast.forecastDate, 'dd/MM/yyyy')}"></td>
                        <td class="col-sm-3 col-lg-4" th:text="${forecast.weatherMain}"></td>
                        <td class="col-sm-6 col-lg-4" th:text="${forecast.tempMax} + ' °C'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <p class="text-muted" th:unless="${city.forecasts != null and !#lists.isEmpty(city.forecasts)}">
                No warm days found / data is unavailable.
            </p>
        </div>
    </div>

    <div class="mt-5">
        <h2>Rainy Days (Rain, Drizzle, Thunderstorm)</h2>
        <div th:each="city : ${rainyDays}">
            <h4 th:text="${city.cityName}"></h4>

            <div th:if="${city.forecasts != null and !#lists.isEmpty(city.forecasts)}">
                <table class="table table-bordered">
                    <thead class="table-light">
                    <tr>
                        <th class="table-info">Date</th>
                        <th class="table-info">Weather</th>
                        <th class="table-info">Maximum Temperature</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="forecast : ${city.forecasts}">
                        <td class="col-sm-3 col-lg-4"
                            th:text="${#temporals.format(forecast.forecastDate, 'dd/MM/yyyy')}"></td>
                        <td class="col-sm-3 col-lg-4" th:text="${forecast.weatherMain}"></td>
                        <td class="col-sm-6 col-lg-4" th:text="${forecast.tempMax} + ' °C'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <p class="text-muted" th:unless="${city.forecasts != null and !#lists.isEmpty(city.forecasts)}">
                No rainy days found / data is unavailable.
            </p>
        </div>
    </div>
</div>
</body>
</html>